{% extends 'base.html.twig' %}

{% block title %}Modification d'un apprenant{% endblock %}

{% form_theme form 'editor/apprenant/_collectionReseaux.html.twig' %}

{% block body %}

{% if app.user %}
<style>

    .custom-file-input {
        opacity: .4;
    }
</style>
    {# structure de la page 10 colonnes de largeur et alignée à droite #}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">
                <!-- insert apprenant menu -->
                {% include "editor/apprenant/_nav_apprenant.html.twig" with {'p':1} %}

                <!-- display flash message -->
                <div class="my-5">
                    <!-- {% for message in app.flashes('warning') %}
                        <div class="container alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %} -->
                    <div class="container col-12 " >
                        <h4 class="btn btn-info">Modifier les infos de <strong>{{apprenant.fullname|upper}}</strong></h4>
                        <div>

                            <img width="64" class="ml-auto rounded" src="{{ asset('uploads/brochures/') }}{{apprenant.avatar}}" alt="">
                        </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}



{% block javascripts %}

<script src="{{asset('assets/js/collection.js')}}"></script>

{% endblock %}