{% extends 'base.html.twig' %}

{% block title %}Gestion des apprenants{% endblock %}

{% block body %}
<style>
    input{
        outline: none;	
        border:none;
        border-bottom: 1px solid #777;
    }
    form input:focus{
        border-color: blue;
        
        
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">
            {% include "template_parts/_nav_promotion.html.twig" %}
            <div class="my-5">

                <form action="" class="  ml-auto w-50 bg-info" style="">
                    <input class="float-right form-group mr-2 " placeholder="chercher" type="text" name="chercher_promotion">
                    <button class=" badge badge-primary mr-2" style="position: absolute;right:0;cursor:pointer"
                        id="chercher_user" type="submit"><i class="fa fa-search "></i></button>
                </form>
            </div>
            
        <table class="table">

            <thead>

                <th>Année</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Aapprenants</th>
                <th>Formation</th>
                <th>Commentaire</th>

                <th style="width: 15%;">Actions</th>
            </thead>
            <tbody>

                {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.annee }}</td>
                    <td>{{ promotion.dateDebut|date("m/d/Y") }}</td>
                    <td>{{ promotion.dateFin|date("m/d/Y") }}</td>
                    <td>{{ promotion.nombreEleves }}</td>
                    {% if promotion.formation.intitule is defined %}
                    <td>{{ promotion.formation.intitule }}</td>
                    {% endif %}
                    <td>{{ promotion.commentaires }}</td>

                    <td>
                        <a class="badge badge-danger delete-record" title="supprimer" href="#"><i
                                class="fas fa-trash-alt delete-promotion"></i></a>
                        <a class="badge badge-success modif_promotion" title="modifier"
                            href="{{ path('editor_edit_promotion',{'id':promotion.id}) }}"><i
                                class="far fa-edit"></i></a>
                        <a class="badge badge-info modif_promotion" title="visualiser" href="#"><i
                                class="fa fa-eye"></i></a>
                        <div class="delete-confirm border bg-light  m-auto rounded p-3"
                            style="position: absolute;top:40%;left:30%">
                            <div>
                                <h4>Vous êtes sûr de vouloir supprimer?</h4>
                            </div>
                            <div>
                                <a class="btn btn-success non" href="">Non</a>
                                <a class="btn btn-danger"
                                    href="{{ path('editor_delete_promotion',{'id':promotion.id}) }}">Oui</a>

                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
        </div>
{% endblock %}

