{% extends 'base.html.twig' %}

{% block title %}Modification d'un apprenant{% endblock %}

{% form_theme form _self %}

{% block body %}

{% if app.user %}
<style>

    .custom-file-input {
        opacity: .4;
    }
</style>
    {# structure de la page 10 colonnes de largeur et alignée à droite #}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">
                <!-- insert apprenant menu -->
                {% include "editor/apprenant/_nav_apprenant.html.twig" %}

                <!-- display flash message -->
                {% for message in app.flashes('warning') %}
                <div class="container alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                <div class="my-5">
                    <div class="container col-12 " style="font-family: 'Amiri', serif;">
                        <h4 class="btn btn-info">Modifier les infos de <strong>{{apprenant.nom|upper}} {{apprenant.prenom|upper}}</strong></h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
        
        
                        <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block _apprenant_Reseaux_widget %}

{{ form_widget(form) }}

<input type="hidden" id="widgets-counter" value="0">
<div class="form-group">
    <button type="button" class="btn btn-info" id="add-reseau">Ajouter un réseau</button>

</div>

{% endblock %}

{% block _apprenant_Reseaux_entry_row %}

{{ form_widget(form) }}

{% endblock %}


{% block javascripts %}

<script>
    $('#add-reseau').click(function () {

        const index = +$('#widgets-counter').val()

        // ici on récupere le prototype des entrées
        const tmpl = $('#apprenant_Reseaux').data('prototype').replace(/__name__/g, index)

        //ici, j'injecte le code récupéré dans mon fromulaire
        $('#apprenant_Reseaux').append(tmpl)

        $('#widgets-counter').val(index + 1)
        deleteSousFrom()
    })

    function deleteSousFrom() {
        $('button[data-action="delete"]').click(function () {
            const target = this.dataset.target
            console.log(target)
            $(target).remove()
        })
    }


    function updateCounter(){
        const count = +$('#apprenant_Reseaux div.form-group').length
        $('#widgets-counter').val(count+1)
    }
    updateCounter()
    deleteSousFrom()
</script>

{% endblock %}

{% block _apprenant_Reseaux_entry_widget %}

<div class="form-group" id="{{id}}">
    <div class="row">
        <div class="col-10">
            <div class="row">

                <div class="col">
                    {{ form_widget(form.Nom) }}
                </div>
                <div class="col">
                    {{ form_widget(form.Lien) }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#{{id}}" class="btn btn-danger">X</button>
        </div>
    </div>
</div>

{% endblock %}